<p id="notice"><%= notice %></p>

<h1>Utilisateurs</h1>

<table>
  <thead>
    <tr>
      <th>Nom de l'utilisateur</th>
      <th>Carte</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>

      <tr>
        <td><%= user.name %></td>
        <td><%= user.card ? user.card.uid : '--' %></td>
        <td><%= link_to 'Afficher', user %></td>
        <td><%= link_to 'Éditer', edit_user_path(user) %></td>
        <td><%= link_to 'Supprimer', user, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvel utilisateur', new_user_path %>
