<p id="notice"><%= notice %></p>

<p>
  <strong>Nom :</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Carte :</strong>
  <%= @user.card ? @user.card.uid : '--' %>
</p>

<%= link_to 'Éditer', edit_user_path(@user) %> |
<%= link_to 'Retour', users_path %>
