<p id="notice"><%= notice %></p>

<h1>Cartes</h1>

<table>
  <thead>
    <tr>
      <th>Identifiant unique (UID)</th>
      <th>Utilisateur</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.uid %></td>
        <td><%= card.user ? card.user.name : '--' %></td>
        <td><%= link_to 'Afficher', card %></td>
        <td><%= link_to 'Éditer', edit_card_path(card) %></td>
        <td><%= link_to 'Supprimer', card, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle carte', new_card_path %>
