<p id="notice"><%= notice %></p>

<p>
  <strong>Identifiant unique (UID) :</strong>
  <%= @card.uid %>
</p>

<p>
  <strong>Utilisateur :</strong>
  <%= @card.user ? @card.user.name : '--' %>
</p>

<%= link_to 'Éditer', edit_card_path(@card) %> |
<%= link_to 'Retour', cards_path %>
