<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @card.number %>
</p>

<p>
  <strong>User:</strong>
  <%= @card.user ? card.user.name : '--' %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
